<template>
    <div class="box">
        <h3 class="welcome">Welcome to an amazing trivia quiz</h3>
        <p class="select">Select one of the following quizes by clicking on the buttons</p>
        <button class="button" id="1" @click ='chooseQuiz(categories.SPORT)'>Sport Quiz</button>
        <button class="button" id="2" @click ='chooseQuiz(categories.ANIMAL)'>Animal Quiz</button>
        <button class="button" id="3" @click ='chooseQuiz(categories.VEHICLE)'>Vehicle Quiz</button>
        <button class="button" id="4" @click ='chooseQuiz(categories.FILM)'>Film Quiz</button>
    </div>
</template>

<script>
import {CATEGORIES} from '../api/questions';

export default {
    name: "Menu",
    data() {
        return {
            categories: CATEGORIES,
        }
    },
    methods: {
        chooseQuiz: function(categoryId){
            this.$router.push('/questions/' + categoryId)
        } 
    }
}
</script>

<style scoped>
.button {
    margin: 20px;
    padding: 12px;
    border-radius: 10px;
    border: 1.5px solid green;
    background-color: azure;
  }
  .button:hover {
    border: 1.5px solid green;
    background-color: grey;
  }
  .button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
</style>