<template>
    <div class="box">
        <p v-if="loading">Loading questions...</p>

        <TriviaQuestion class="question" v-if="questions.length" 
        :currentQuestion = questions[currentQuestionIndex] 
        :countCorrectAnswers = countCorrectAnswers
        @selected-answer="selectedAnswer"></TriviaQuestion>
        <br>
        <h4 class="indicator">{{answerIndicator}}</h4>
        <button class="button" id="check" ref="check" disabled="true" @click ='checkAnswer($event)'>Check Answer</button>
        <button class="button" id="next" ref="next" disabled="true" v-if="currentQuestionIndex < 9" @click ='nextQuestion($event)'>Next Question</button>
        <button class="button" id="finish" ref="finish" v-if="currentQuestionIndex >= 9" @click ='finishQuiz()'>Finish Quiz</button>

        <h5>Question: ({{questionCount()}}/10) | Points: {{countCorrectAnswers * 10}}</h5>
    </div>
</template>

<script>
import TriviaQuestion from './TriviaQuestion';
import {getQuestions} from '../api/questions';

export default {
    name: "Quiz",
    components: {
        TriviaQuestion,
    },

    async created() {
        const { categoryId } = this.$route.params;
        try {
            this.questions = await getQuestions(categoryId)
            //this.resultQuestions.push();
            //this.resultCorrect.push();

        } catch (error) {
            console.log(error);
        }
        finally{
            this.loading = false;
        }
    },
    
    data(){
        return {
            loading: true,
            questions: [],
            currentQuestionIndex: 0,
            countCorrectAnswers: 0,
            currentAnswerSelected: null,
            answerIndicator: null,
            resultQuestions: [],
            resultCorrect: [],
            resultYourAnswers: []
        }
    },
    
    methods: {
        selectedAnswer(answer){
            this.currentAnswerSelected = answer;
            this.$refs["check"].disabled = false;
        },
        questionCount(){
            if (this.currentQuestionIndex < 10){
                return this.currentQuestionIndex + 1;
            }
            else return this.currentQuestionIndex;
        },
        checkAnswer(event){
            event.target.disabled = true;
            const nextButton = this.$refs["next"];
            this.resultYourAnswers.push(this.currentAnswerSelected);
            this.resultCorrect.push(this.questions[this.currentQuestionIndex].correct_answer);
            this.resultQuestions.push(this.questions[this.currentQuestionIndex].question);
            if(nextButton != null){
            this.$refs["next"].disabled = false;
            }
            if(this.currentAnswerSelected == this.questions[this.currentQuestionIndex].correct_answer){
                this.countCorrectAnswers += 1;
                this.answerIndicator = "Correct!"
            } else {
                this.answerIndicator = "Incorrect!"
            }
        },
        nextQuestion(){
            event.target.disabled = true;
            this.$refs["check"].disabled = true;
            this.answerIndicator = null;
            if (this.currentQuestionIndex < this.questions.length){
                this.currentQuestionIndex += 1;
            }
            
        },
        finishQuiz(){
            this.$router.push({
                name: "result",
                params : {
                    countCorrectAnswers: this.countCorrectAnswers,
                    questions: this.resultQuestions,
                    correct: this.resultCorrect,
                    yourAnswers: this.resultYourAnswers
                }
            });
        }
    }
}
</script>

<style scoped>
.button{
  margin: 20px;
  padding: 12px;
  border-radius: 10px;
  border: 1.5px solid green;
  background-color: azure;
}
.button:hover {
  border: 1.5px solid green;
  background-color: grey;
}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
button:disabled{
    background-color: darkgray;
}
</style>