<template>
    <div class="results">
        <h3>Points: {{countCorrectAnswers * 10}}</h3>
        <table style="width:100%">
            <tr>
                <th>Question</th>
                <th>Correct</th>
                <th>Your Answer</th>
            </tr>
            <tr v-for="(question, index) of questions" :key="index">{{question}}
                <td v-html="correct[index]"/>
                <td v-html="yourAnswers[index]"/>
            </tr>

        </table>    
        
        <h4>Hope you enjoyed this Trivia, if you want to try again, just click "Menu"</h4>
        <button class="button" @click='goToMenu()'>Menu</button>
    </div>
</template>

<script>
export default {
    name: "Result",

    data(){
        return {
            currentQuestion: 0
        }
    },

    props: {
        countCorrectAnswers: null,
        questions: null,
        correct: null,
        yourAnswers: null
    },

    methods: {
        goToMenu(){
            this.$router.push('/');
        },

    }
}
</script>

<style scoped>
.button{
  margin: 20px;
  padding: 12px;
  border-radius: 10px;
  border: 1.5px solid green;
  background-color: azure;
}
.button:hover {
  border: 1.5px solid green;
  background-color: grey;
}
.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>