<template>
  <div v-if="currentQuestion">
    <h3 class="category">Category: {{currentQuestion.category}}</h3>
    <p class="question">{{currentQuestion.question}}</p>
    <button class="alt-button" 
            v-for="answer of shuffledAnswers" 
            :key="answer"
            @click="selectAnswer(answer)"
            >{{answer}}</button>
  </div>
</template>

<script>
export default {
  name: "TriviaQuestion",
  props: {
    currentQuestion: Object
  },

  watch: {
      currentQuestion: {
          immediate: true,
          handler(){
              this.shuffleAnswers();
          }
      }
  },

  data(){
    return {
        selectedAnswer: null,
        shuffledAnswers: []
    }
  },

  methods: {
    selectAnswer(answer) {
        this.$emit('selected-answer', answer);
      this.selectedAnswer = answer;
    },
    shuffleAnswers(){
        this.shuffledAnswers = [
            ...this.currentQuestion.incorrect_answers, 
            this.currentQuestion.correct_answer
        ].sort(() => Math.random() - 0.5);
    }
  }
};
</script>

<style scoped>
.alt-button{
    margin: 5px;
    padding: 10px;
    border: 1.5px solid black;
    background-color: aliceblue;
}

.alt-button:focus{
    background-color: lightgrey;
}
</style>