<template>
  <div id="app">
    <h1 class="header">Trivia Quiz</h1>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
  #app {
    margin: auto;
    width: 100%;
    border: 3px solid green;
    background-color: azure;
    padding: 10px;
    text-align: center;
  }
</style>